.*.swp
*.pyc
.pybuild/
bdsync_manager.egg-info/
build/
dist/
website/output

debian/debhelper-*-stamp
debian/files
debian/tmp/
debian/*.debhelper.log
debian/*.debhelper
debian/*.substvars
debian/bdsync-manager/
